body {
    background-color: black;
}

#container {
    margin: auto;
    margin-top: 8%;
    background-color: #fa681a;
    width: 19.5%; /* Para la científica 29%*/
    height: 470px;
    text-align: center;
    border-radius: 4px;
}

.operator{
    background-color: #f1ff92;
    position: relative;
    display: none;
}

#calculadoras {
    width: 30%; /* Para la científica 20%*/
    vertical-align: 4px;
}

input {
    outline: 0;
    position: relative;
    left: 5px;
    top: 5px;
    border: 0;
    color: #495069;
    background-color: 4px;
    width: 20.5%;
    height: 11%;
    float: left;
    margin: 5px;
    font-size: 20px;
    box-shadow: 0 4px rgba(0,0,0,0.2);
  }

  #answer{
    width: 91%; /* Para la científica 93.5%*/
    height: 50px;
    font-size: 26px;
    text-align: right;
    border-radius: 4px;
    background-color: #f1faeb;
    float: left;
}

#answer:hover{
    width: 93.5%; /* Para la científica 93.5%*/
    height: 50px;
    font-size: 26px;
    text-align: right;
    box-shadow: 0 4px rgba(0,0,0,0.2);
    background-color: #f1faeb;
}

#answer2{
    width: 8%; /* Para la científica 8%*/
    height: 50px;
    font-size: 26px;
    text-align: left;
    border-radius: 4px;
    background-color: #f1faeb;
    float: left;
    box-shadow: 0px 0px;
}

#answer2:hover{
    width: 8%; /* Para la científica 8%*/
    font-size: 26px;
    text-align: left;
    background-color: #f1faeb;
}

input:hover{
    border: 0 solid #000;
    color: #495069;
    background-color: #5fd0da;
    border-radius: 4px;
    width: 20.5%;
    height: 11%;
    float: left;
    margin: 5px;
    font-size: 20px;
    box-shadow: 0 4px #644294;
}

#child{
    position: absolute;
    top: 0;
    left: 0;
}

#parent{
    position: relative;
}